
@{
    Layout = "_Layout";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model BillingPortalClient.ModelViews.TicketViewModel
 <!-- CONTAINER -->
<div class="main-container container-fluid" style="margin-top:1%; padding-left:0; padding-right:0;">             

    <!-- ROW-1 -->
    <div class="row widget-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <div class="row">
                <div class="card-widget">
                    <div class="card overflow-hidden">
                        <div class="card-body c1">
                            <div class="d-flex">
                                <div class="">
                                <img src="../assets/images/dashboard/coins-icon-purple.png" />
                                    <h6 class="text title">All Ticket</h6>
                                    <h2 class="mb-0 number-font text">@Model.allTicketsCount</h2>
                                </div>
                            </div>
                            <span class="text-muted fs-12">
                                <button onclick="headerWidgetButtonClick('allTickets')"  class="btn btn-primary mt-2"> View All </button>
                              </span>
                        </div>
                    </div>
                </div>
                <div class="card-widget">
                    <div class="card overflow-hidden">
                        <div class="card-body c2">
                            <div class="d-flex">
                                <div class="">
                                <img src="../assets/images/dashboard/clock-icon-blue.png" />
                                    <h6 class="text title">Invoice Tickets</h6>
                                    <h2 class="mb-0 number-font text">@Model.invoiceTicketsCount</h2>
                                </div>
                               
                            </div>
                            <span class="text-muted fs-12">
                                <button onclick="headerWidgetButtonClick('invoice')" class="btn btn-primary mt-2"> View All </button>
                              </span>
                        </div>
                    </div>
                </div>
                <div class="card-widget">
                    <div class="card overflow-hidden">
                        <div class="card-body c3">
                            <div class="d-flex">
                                <div class="">
                                <img src="../assets/images/dashboard/file-icon-orange.png" />
                                    <h6 class="text title">Statement Tickets</h6>
                                    <h2 class="mb-0 number-font text">@Model.statementTicketsCount</h2>
                                </div>
                               
                            </div>
                            <span class="text-muted fs-12">
                                <button onclick="headerWidgetButtonClick('statement')" class="btn btn-primary mt-2"> View All </button>
                              </span>
                        </div>
                    </div>
                </div>
                <div class="card-widget">
                    <div class="card overflow-hidden">
                        <div class="card-body c4">
                            <div class="d-flex">
                                <div class="">
                                <img src="../assets/images/dashboard/clock-icon-green.png" />
                                    <h6 class="text title">Receipt Tickets</h6>
                                    <h2 class="mb-0 number-font text">@Model.receiptTicketsCount</h2>
                                </div>
                               
                            </div>
                            <span class="text-muted fs-12">
                                <button onclick="headerWidgetButtonClick('receipt')" class="btn btn-primary mt-2"> View All </button>
                              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-1 END -->



    <!-- Row -->
    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-header" style="padding: 0px;border-bottom:none;display: block;">
                    <div class="row" style="width:100%;">

                      <div class="col-md-6 col-sm-12">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                          <input type="radio" class="btn-check" name="btnradio" id="btnradio1"  autocomplete="off" checked>
                          <label class="btn statusCriteriaButton" for="btnradio1" id="allStatusRadio"
                            style="border-top:0px; border-right:0px; border-left:0px; border-bottom-width:thick; border-radius:0px; color:black;">All(@Model.allTicketsCount)</label>

                          <input type="radio" class="btn-check" name="btnradio" id="btnradio2"  autocomplete="off">
                          <label class="btn statusCriteriaButton" for="btnradio2" id="openStatusRadio"
                            style="border-top:0px; border-right:0px; border-left:0px; border-bottom-width:thick; border-radius:0px;color:black;">Open(@Model.openTicketsCount)</label>

                          <input type="radio" class="btn-check" name="btnradio" id="btnradio3"  autocomplete="off">
                          <label class="btn statusCriteriaButton" for="btnradio3" id="inprogressStatusRadio"
                            style="border-top:0px; border-right:0px; border-left:0px; border-bottom-width:thick; border-radius:0px;color:black;">In Progress(@Model.inProgressTicketsCount)</label>

                          <input type="radio" class="btn-check" name="btnradio" id="btnradio4"  autocomplete="off">
                          <label class="btn statusCriteriaButton" for="btnradio4" id="closedStatusRadio"
                            style="border-top:0px; border-right:0px; border-left:0px; border-bottom-width:thick; border-radius:0px;color:black;">Closed(@Model.closedTicketsCount)</label>
                        </div>
                      </div>

                      <div class="col-md-2 col-sm-12"> </div>
                      
                      @* <div class="col-md-4 col-sm-12">
                        <div class="row filters-bar">

                          <div class="col-md-2 col-sm-2">
                            <button class="btn btn-secondary search-btn" type="button" onclick="searchButtonOnClick()"><i class="fa fa-search"></i></button>
                          </div>
                          <div class="col-md-8 col-sm-8">
                            <select class="form-select w-100" id="searchSelectBox" onchange="searchSelectOnChange()">
                              <option value="">Filter by:</option>
                              <option value="instrumentType">Instrument Type</option>
                              <option value="issueType">Issue Type</option>
                              <option value="createdOn">Created On</option>
                            </select>
                          </div>
                          <div class="col-md-2 col-sm-2">
                            <div class="btn-export" id="exportButtonsDiv"></div>
                          </div>

                        </div>
                      </div> *@
                      <div class="col-md-4 col-sm-12">
                        <div class="row filters-bar">

                          @* <div class="col-md-2 col-sm-2">
                            <button class="btn btn-secondary search-btn" type="button" onclick="searchButtonOnClick()"><i class="fa fa-search"></i></button>
                          </div> *@
                          <div class="col-md-8 col-sm-8">
                              <button class="btn btn-primary filtering" id="searchSelectBox" onclick="filtermodal()">Filters</button>
                              <button class="btn" style="background-color:gray; color:white !important  " id="clearButton">Clear</button>

                  @*<select class="form-select w-100" id="searchSelectBox" onchange="searchSelectOnChange()">
                                  <option value="">Filter by:</option>
                                  <option value="instrumentType">Instrument Type</option>
                                  <option value="issueType">Issue Type</option>
                                  <option value="createdOn">Created On</option>
                              </select>*@
                          </div>
                          @* <div class="col-md-2 col-sm-2">
                            <div class="btn-export" id="exportButtonsDiv"></div>
                          </div> *@

                        </div>
                      </div>

                    </div>
                </div>

                <div class="card-body" style="padding-left:0px; padding-right:0px; padding-top:0px;">
                  @* <div class="row mb-2">
                    <div class="panel" id="issuePanel">
                      <div class="row">
                        <div class="col-md-9">

                        </div>

                        <div class="col-md-3">
                          <input type="text" class="form-control" id="issueTypeSelection" onkeyup="issueTypeSelectionOnChange()" placeholder="Search Issue Type" />
                        </div>
                      </div>
                    </div>
                    <div class="panel" id="datePanel">
                      <div class="row">
                        <div class="col-md-6">

                        </div>

                        <div class="col-md-3">
                          <input class="form-control" type="date" id="minDateSelection" onchange="mDateOnChange()" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="date" id="maxDateSelection" onchange="mDateOnChange()" />
                        </div>
                      </div>
                    </div>
                    <div class="panel" id="instrumentPanel">
                      <div class="row">
                        <div class="col-md-9">

                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="instrumentTypeSelection" onkeyup="instrumentTypeSelectionOnChange()" placeholder="Search Instrument Type" />
                      </div>
                      </div>
                    </div>
                  </div> *@
                    <div class="table-responsive">
                        <table id="file-datatable" class="table table-bordered text-nowrap key-buttons border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Ticket No.</th>
                                    <th class="border-bottom-0">Account No.</th>
                                    <th class="border-bottom-0">Account Name</th>
                                    <th class="border-bottom-0">Instrument</th>
                                    <th class="border-bottom-0">Issue Type</th>
                                    @* <th class="border-bottom-0">Note</th> *@
                                    <th class="border-bottom-0">Created On</th>
                                    <th class="border-bottom-0">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              @foreach(var item in Model.tickets)
                                {
                                  <tr data-StatusAttribute="@item.Status" data-InstrumentTypeAttribute="@item.InstumentType" data-IssueTypeAttribute="@item.IssueType" data-CreatedDateAttribute="@item.TicketDate.Value.ToShortDateString()" data-day="@item.TicketDate.Value.Day" data-month="@item.TicketDate.Value.Month" data-year="@item.TicketDate.Value.Year">
                                    <td  style="color: var(--primary-purple);
text-align: left;
font: normal normal 600 14px/12px Inter;
letter-spacing: 0px;
color: #3F058F;
opacity: 1;">#@item.Id</td>
                                    <td>@item.Account.AccountNumber</td>
                                    <td>@item.Account.AccountName</td>
                                    @* <td>@item.Account.Customer.Region</td> *@

                                    <td style="color: var(--black);
text-align: left;
font: normal normal bold 14px/16px Inter;
letter-spacing: 0px;
color: #191616;
opacity: 1;">@item.InstumentType</td>
                                    <td>@item.IssueType</td>
                                    @* <td>@item.Description</td> *@
                                    @*<td>@item.TicketDate.Value.Year-@item.TicketDate.Value.Month-@item.TicketDate.Value</td>*@
                                    @*<td>@item.TicketDate.Value.ToString("yyyy-MM-dd")</td>*@
                                    @*<td>2001/04/15</td>*@
                                    <td>@item.TicketDate.Value.ToString("dd MMM, yyyy")</td>
                                    @if(item.Status == "Closed")
                                    {
                                        <td style="text-align:center"><span class="badge rounded-pill bg-success"  style="top: 713px;
left: 1114px;
width: 110px;
height: 24px;
/* UI Properties */
background: transparent linear-gradient(265deg, #3DA79C 0%, #3BC8B9 100%) 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1; font-size:small; width:100px !important">@item.Status</span></td>
                                    }
                                    else if(item.Status == "Open")
                                    {
                                        <td style="text-align:center"><span class="badge rounded-pill bg-danger" style=" top: 406px;
left: 1114px;
width: 110px;
height: 24px;
/* UI Properties */
background: transparent linear-gradient(265deg, #C15555 0%, #F47356 100%) 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
 font-size:small; width:100px !important">@item.Status</span></td>

                                    }
                                    else
                                    {
                                        <td style="text-align:center"><span class="badge rounded-pill text-dark"  style="top: 470px;
left: 1114px;
width: 110px;
height: 24px;
/* UI Properties */
background: transparent linear-gradient(90deg, #F8BB46 0%, #E59806 100%) 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1; font-size:small; width:100px !important">@item.Status</span></td>
                                                
                                    }
                                    @* <td>@Html.ActionLink("View Details",
                                                            "TicketDetail",
                                                            "Ticket",
                                                            new { ticketId = @item.Id},
                                                            new { @class = "text-primary ms-1" })</td>
                                  </tr> *@
                           <td style="color: var(--primary-purple);
text-align: centre;
font: normal normal bold 12px/44px Inter;
letter-spacing: 0px;
color: #3F058F;
opacity: 1;">
    @Html.ActionLink("View Details",
        "TicketDetail",
        "Ticket",
        new { ticketId = @item.Id },
        new { @class = "text-primary ms-1" })

    <span>
        <img src="../../assets/images/arrow-circle-right-solid.svg" alt="Arrow Icon">
    </span>
</td>
</tr>



                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Row -->

                       
</div>
<!-- CONTAINER CLOSED -->

<!--filter modal -->
<div class="modal fade" id="testModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
              <div class="container">
                  <div class="row">
                      <h1>Filters</h1>
                  </div>
                  <form id="filterForm">
                      <div class="row mb-3">
                          <div class="panel" id="datePanel">
                              <div class="row mb-3">
                                  <div class="col-md-6">
                                      <label class="form-label">Min Invoice Date</label>
                                      <input class="form-control" type="date" id="minDateSelection" />
                                  </div>
                                  <div class="col-md-6">
                                      <label class="form-label">Max Invoice Date</label>
                                      <input class="form-control" type="date" id="maxDateSelection" />
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label class="form-label">Instrument Type</label>
                                      <select class="form-select" id="instrumenttype">
                                          <option value="">Instrument Type</option>
                                          <option value="Invoice">Invoice</option>
                                          <option value="Receipt">Receipt</option>
                                          <option value="Statement">Statement</option>
                                      </select>
                                  </div>
                                  <div class="col-md-6">
                                      <label class="form-label">Issue Type</label>
                                      <select class="form-select" id="issuetype">
                                          <option value="">Issue Type</option>
                                          <option value="Complain">Complain</option>
                                          <option value="Dispute">Dispute</option>
                                          <option value="Feedback">Feedback</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <button type="submit" id="applyFilterButton" class="btn" style="width:100%;">Apply Filter</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>


        </div>
    </div>
</div>

<script>
$(document).ready(function () {
  
    var table = $("#file-datatable").DataTable();
    function applyDateFilter() {
            var minInvoiceDate = new Date($("#minDateSelection").val());
            var maxInvoiceDate = new Date($("#maxDateSelection").val());
            var instrumentType = $("#instrumenttype").val();
            var issueType = $("#issuetype").val();

            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.data();
                console.log(data);
                var invoiceDate = new Date(data[5]);
                var DatainstrumentType = data[3];
                var DataissueType = data[4];

                if ((!isNaN(minInvoiceDate) && invoiceDate < minInvoiceDate) ||
                    (!isNaN(maxInvoiceDate) && invoiceDate > maxInvoiceDate) ||
                    (instrumentType !== "" && DatainstrumentType !== instrumentType) ||
                    (issueType !== "" && DataissueType !== issueType)) 
                    {
                    $(this.node()).hide();
                } else {
                    $(this.node()).show();
                }
            });
        }

        table.on('draw', function () {
            console.log("DataTable Draw Callback");
            applyDateFilter();
        });

        $('#filterForm').submit(function (e) {
            e.preventDefault();
            console.log("Form Submitted");
            $('#testModalCenter2').modal('hide');
            applyDateFilter();
        });

        $('.filtering').click(function () {
            console.log("Filter Modal Function");
            $("#testModalCenter2").modal('show');
        });

        $('#clearButton').click(function () {
            $('#filterForm').find(':input').val('');
            applyDateFilter();
        });
});


var statusCriteria = "all";
var instrumentTypeCriteria = "allTickets";

$.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
  var trNode = settings.aoData[dataIndex].nTr;

  if(instrumentTypeCriteria == "allTickets")
  {
    return true;
  }
  if(trNode.getAttribute("data-InstrumentTypeAttribute").toLowerCase() == instrumentTypeCriteria )
  {
    return true;
  }

  return false;
});

$.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
  var trNode = settings.aoData[dataIndex].nTr;
  if(statusCriteria == "all")
  {
    if($("#searchSelectBox").val() == "")
    {
      return true;
    }
    else if($("#searchSelectBox").val() == "issueType")
    {
      if(trNode.getAttribute("data-IssueTypeAttribute").toLowerCase().includes($("#issueTypeSelection").val().toLowerCase()))
      {
        return true;
      }
    }
    else if($("#searchSelectBox").val() == "instrumentType")
    {
      if(trNode.getAttribute("data-InstrumentTypeAttribute").toLowerCase().includes($("#instrumentTypeSelection").val().toLowerCase()))
      {
        return true;
      }

    }
    else if($("#searchSelectBox").val() == "createdOn")
    {
      var minDate = new Date( $("#minDateSelection").val());
      var maxDate = new Date( $("#maxDateSelection").val());
      var ticketDateDay = trNode.getAttribute("data-day");
      var ticketDateMonth = trNode.getAttribute("data-month");
      var ticketDateYear = trNode.getAttribute("data-year");
      var ticketDate = new Date(ticketDateYear, Number(ticketDateMonth) - 1, ticketDateDay);

      if(maxDate.toString() == "Invalid Date")
      {
        maxDate = new Date(9999,12,30);
      }
      if(minDate.toString() == "Invalid Date")
      {
        minDate = new Date(0000,00,00);
      }

      if(ticketDate >= minDate && ticketDate <= maxDate)
      {
        return true;
      }

    }
  }
  if(trNode.getAttribute("data-StatusAttribute") == statusCriteria)
  {
    if($("#searchSelectBox").val() == "")
    {
      return true;
    }
    else if($("#searchSelectBox").val() == "issueType")
    {
      if(trNode.getAttribute("data-IssueTypeAttribute").toLowerCase().includes($("#issueTypeSelection").val().toLowerCase()))
      {
        return true;
      }
    }
    else if($("#searchSelectBox").val() == "instrumentType")
    {
      if(trNode.getAttribute("data-InstrumentTypeAttribute").toLowerCase().includes($("#instrumentTypeSelection").val().toLowerCase()))
      {
        return true;
      }

    }
    else if($("#searchSelectBox").val() == "createdOn")
    {
      var minDate = new Date( $("#minDateSelection").val());
      var maxDate = new Date( $("#maxDateSelection").val());
      //var ticketDate = trNode.getAttribute("data-CreatedDateAttribute");
      var ticketDateDay = trNode.getAttribute("data-day");
      var ticketDateMonth = trNode.getAttribute("data-month");
      var ticketDateYear = trNode.getAttribute("data-year");
      var ticketDate = new Date(ticketDateYear, Number(ticketDateMonth) - 1, ticketDateDay);

      if(maxDate.toString() == "Invalid Date")
      {
        maxDate = new Date(9999,12,30);
      }
      if(minDate.toString() == "Invalid Date")
      {
        minDate = new Date(0000,00,00);
      }

      if(ticketDate >= minDate && ticketDate <= maxDate)
      {
        return true;
      }

    }
  }
  return false;

});


function disputedInvoicesOnClick()
{
  var table = $('#file-datatable').DataTable();

  
  
  //table.draw();

}

  function headerWidgetButtonClick(instrumentType)
  {
    //alert(instrumentType)
    instrumentTypeCriteria = instrumentType;
    var table = $('#file-datatable').DataTable();
    table.draw();
  }

  function instrumentTypeSelectionOnChange()
{
  //var table = $('#file-datatable').DataTable();
  //table.draw();

}

function issueTypeSelectionOnChange()
{
  //var table = $('#file-datatable').DataTable();
  //table.draw();

}

function mDateOnChange()
{
  //var table = $('#file-datatable').DataTable();
  //table.draw();
}

function searchButtonOnClick()
{
  var table = $('#file-datatable').DataTable();
  table.draw();
}

$(document).on("click", ".statusCriteriaButton", function (event) {
  console.log(event);
  if (event.target.id == "allStatusRadio") {
    statusCriteria = "all";
  } else if (event.target.id == "openStatusRadio") {
    statusCriteria = "Open";
  } else if (event.target.id == "inprogressStatusRadio") {
    statusCriteria = "Inprogress";
  } else if (event.target.id == "closedStatusRadio") {
    statusCriteria = "Closed";
  }

  // Log statusCriteria to verify the selected status
  console.log("Selected Status Criteria:", statusCriteria);

    var table = $('#file-datatable').DataTable();
    console.log(table.rows().data().toArray());
    table.draw();


  });

  function searchSelectOnChange()
  {
    console.log($("#searchSelectBox").val())
    if($("#searchSelectBox").val() == "issueType")
    {
      document.getElementById('instrumentPanel').style.maxHeight = null;
      document.getElementById('datePanel').style.maxHeight = null;
      $("#instrumentTypeSelection").val("");
      $("#minDateSelection").val("");
      $("#maxDateSelection").val("");

      var panel = document.getElementById('issuePanel');
      if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 

    }
    else if($("#searchSelectBox").val() == "instrumentType")
    {
      document.getElementById('datePanel').style.maxHeight = null;
      document.getElementById('issuePanel').style.maxHeight = null;
      $("#issueTypeSelection").val("");
      $("#minDateSelection").val("");
      $("#maxDateSelection").val("");

      var panel = document.getElementById('instrumentPanel');
      if (panel.style.maxHeight) 
      {
        panel.style.maxHeight = null;
      } 
      else 
      {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 


    }
    else if($("#searchSelectBox").val() == "createdOn")
    {
      document.getElementById('instrumentPanel').style.maxHeight = null;
      document.getElementById('issuePanel').style.maxHeight = null;
      $("#issueTypeSelection").val("");
      $("#instrumentTypeSelection").val("");

      var panel = document.getElementById('datePanel');
      if (panel.style.maxHeight) 
      {
        panel.style.maxHeight = null;
      } 
      else 
      {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    }
  }
  
</script>

