
@using System.Text.Json;

@{
    Layout = "_Layout";
}
@model BillingPortalClient.ModelViews.CustomerUserViewModel;

 <!-- CONTAINER -->
<div class="main-container container-fluid"  style="margin-top:1%; padding-left:0; padding-right:0;">

    <!-- ROW-1 -->
    <div class="row widget-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <div class="row">
                <div class="card-widget">
                    <div class="card overflow-hidden">
                        <div class="card-body c1">
                       <a href="@Url.Action("ManageAdminUsers","User")" style="color:white">

                            <div class="d-flex">
                                <div class="">
                              <img src="../assets/images/dashboard/coins-icon-purple.png" />
                                    <h6 class="text title">Manage <br />Users</h6>
                                </div>
                                
                            </div>
                            <span class="text-muted fs-12">
                                Manage User
                              </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-widget">
                    <div class="card overflow-hidden">
                        <div class="card-body c2">
                        <a href="@Url.Action("Index","Customer")" style="color:white">
                            <div class="d-flex">
                                <div class="">
                                <img src="../assets/images/dashboard/clock-icon-blue.png" />
                                    <h6 class="text title">Manage <br />Customers</h6>
                                </div>
                                
                            </div>
                            <span class="text-muted fs-12">
                              Manage Customer
                                </span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-1 END -->

                       
</div>
<!-- CONTAINER CLOSED -->

<div class="modal fade" id="testModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-md" role="document">
    <div class="modal-content">
    <button onclick="closeModal(this)" type="button" class="close" aria-label="Close" style="z-index:1999; position: absolute;top: 10px;right: 10px;border: none;color: #9398A5;background: #F5F6FA 0% 0% no-repeat padding-box;height: 30px;width: 30px;border-radius: 50px;font-size: 19px;">
        &times;
      </button>
      <div class="modal-body">
        <div class="container">
          <h1 class="text-center">Create User</h1>
          <h5 class="text-center">Enter the details below to create a user.</h5>
          <form asp-controller="User" asp-action="AddCustomerUser" method="post">
            <input asp-for="customerUserDTO.accountName" hidden value="@Model.customerUserDTO.accountName" />
            <input asp-for="customerUserDTO.accountNumber" hidden value="@Model.customerUserDTO.accountNumber" />
            <div class="row mb-3">

              <div class="col-md-6">
      	        <label>Name<span style="color:red; margin-left:2px">*</span></label>
                <input asp-for="customerUserDTO.name" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter Name">  
              </div>

                <div class="col-md-6">
      	        <label>Email<span style="color:red; margin-left:2px">*</span></label>
                <input asp-for="customerUserDTO.email" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter Email">
              </div>

            </div>


            <div class="row mb-3">

    	        <div class="col-md-6">
        	        <label>Mobile Number<span style="color:red; margin-left:2px;">*</span></label>
                  <input asp-for="customerUserDTO.phone" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter Number">
        	        
                </div>

    	        <div class="col-md-6">
        	        <label>Designation<span style="color:red; margin-left:2px;">*</span></label>
                  <input asp-for="customerUserDTO.designation" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter Designation">

                </div>
            </div>
    
            <div class="row mb-3">
    	        <div class="col-md-6">
        	        <label>Password</label><br>
                  <input asp-for="customerUserDTO.password" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="password" placeholder="Enter Password">
            
                </div>

                <div class="col-md-6">
        	        <label>Confirm Password</label><br>
                  <input style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="password" placeholder="Confirm Password">
            
                </div>
            </div>
            <div class="row">
             
              <div class="col-md-12">
                  <div class="mt-5"style="margin: 0 auto;text-align: center;">
                        <button type="submit" class="btn ticketsubmit" style="width: 370px;line-height: 35px;">Submit <i class="fa fa-arrow-right"></i></button>
                  </div>

              </div>
            

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="testModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-md" role="document">
    <div class="modal-content">
    <button onclick="closeModal(this)" type="button" class="close" aria-label="Close" style="z-index:1999; position: absolute;top: 10px;right: 10px;border: none;color: #9398A5;background: #F5F6FA 0% 0% no-repeat padding-box;height: 30px;width: 30px;border-radius: 50px;font-size: 19px;">
        &times;
      </button>
      <div class="modal-body">
        <div class="container">
          <h1>Update User</h1>
          <h5>Enter the details below to Update a user.</h5>
          <form asp-controller="User" asp-action="UpdateCustomerUser" method="post">
            <input asp-for="customerUserDTO.accountName" hidden value="@Model.customerUserDTO.accountName" />
            <input asp-for="customerUserDTO.accountNumber" hidden value="@Model.customerUserDTO.accountNumber" />
            <input asp-for="customerUserDTO.id" hidden id="customerUserId" />
            
            <div class="row mb-3">
              <div class="col-md-12 d-flex">
                  <input asp-for="customerUserDTO.isActive" type="hidden">
      	        @* <label style="font-weight:bold;color:black">Active<span style="color:red; margin-left:2px"></span></label> *@
                <input id="userStatusCheckbox" asp-for="customerUserDTO.isActive" class="col-2" type="checkbox" hidden>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
      	        <label style="font-weight:bold;color:black">Name<span style="color:red; margin-left:2px">*</span></label>
                <input id="userNameText" asp-for="customerUserDTO.name" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter User Name">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
      	        <label style="font-weight:bold;color:black">Email<span style="color:red; margin-left:2px">*</span></label>
                <input id="userEmailText" asp-for="customerUserDTO.email" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter User Email">  
              </div>
            </div>
            <div class="row mb-3">
    	        <div class="col-md-12">
        	        <label style="font-weight:bold;color:black">Mobile Number<span style="color:red; margin-left:2px;">*</span></label>
                  <input id="userPhoneText" asp-for="customerUserDTO.phone" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter User Mobile Number">
                </div>
            </div>
            <div class="row mb-3">
    	        <div class="col-md-12">
        	        <label  style="font-weight:bold;color:black">Designation<span style="color:red; margin-left:2px;">*</span></label>
                  <input id="userDesignationText" asp-for="customerUserDTO.designation" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="text" placeholder="Enter User Designation">

                </div>
            </div>
            <div class="row mb-3">
    	        <div class="col-md-12">
        	        <label  style="font-weight:bold;color:black">Password</label><br>
                  <input id="userPasswordText" asp-for="customerUserDTO.password" style="width:100%" required maxlength="50" class="input100 border-start-0 form-control ms-0" type="password" placeholder="Enter User Password">
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <div class="mt-5"style="margin: 0 auto;text-align: center;">
                        <button type="submit" class="btn ticketsubmit" style="width: 370px;line-height: 35px;">Submit <i class="fa fa-arrow-right"></i></button>
                  </div>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
 function closeModal(btn) {
  // Find the closest modal
  var modal = $(btn).closest('.modal');
  console.log("Button clicked:", btn); // Log the button element
  console.log("Modal found:", modal); // Log the modal element
   $('#file-datatable').find('input[type="checkbox"]').prop('checked', false);
  // Close the found modal
  $(modal).modal('hide');
}

  function openUsersModal()
  {
    $("#testModalCenter1").modal('show');

  }

  $(document).ready(function () {
    $('.editCustomerUserButton').on('click', function () {
      

      var customerId = $(this).closest("tr").find('[name=id]').html();
      var name = $(this).closest("tr").find('[name=username]').html();
      var status = $(this).closest("tr").find('[name=status]').html();
      var email = $(this).closest("tr").find('[name=email]').html();
      var designation = $(this).closest("tr").find('[name=designation]').html();
      var phone = $(this).closest("tr").find('[name=phone]').html();
      var id = $(this).closest("tr").find('[name=id]').html();
        
      $("#userNameText").val(name)
      $("#userEmailText").val(email)
      $("#userPhoneText").val(phone)
      $("#userDesignationText").val(designation)
      //$("#userStatusCheckbox").prop("checked", status.toLocaleLowerCase=="active"?true:false);
      document.getElementById("userStatusCheckbox").checked = status.toLowerCase()=="active"?true:false
      $("#customerUserId").val(id);
      $("#testModalCenter2").modal('show');

    });
  });

</script>
